<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ro" xml:lang="ro">
<head>
<meta http-equiv="refresh" content="20;url={{continue}}">
<title>PlatiOnline</title>
</head>
<body>
<div style="text-align: center;">
  <h1>{{text_title}}</h1>
  <p>{{text_response}}</p>
  <div style="border: 1px solid #DDDDDD; margin-bottom: 20px; width: 350px; margin-left: auto; margin-right: auto;">

  </div>
  <p>{{text_error}}</p>
  <p>{{text_failure_wait}}</p>
</div>
</body>
</html>
